a:link, a:visited, a:hover, a:active { text-decoration: none !important;}
a{transition: 0.3s color !important;}
a:hover{color: rgb(26, 24, 24) !important;}
ul{list-style: none;}

/* navbar */

.navbar-brand img{
    width: 20%;
}

.navbar-brand-name{
    margin-left: -5vw;
}

.navbar-brand-name a{
    color: 	rgb(11, 166, 218);
}

.navbar-nav li{
    padding-right: 1.5vw;
}

/* header */

header{
    background: rgba(0, 0, 0, 0.7) no-repeat center/cover;
    background-image: url("./img/banner.jpeg");
    height: 92.5vh;
    width: 100vw;
    margin: -16px -8px;
    background-blend-mode: darken;
    background-attachment: fixed;
}

.banner h1{
    letter-spacing: 0.3em;
    font-family:'Courier New', Courier, monospace;
    font-weight: 500;
}

/* main */

#about-us p{
    text-indent: 1.5vw;
    font-size: 1.1em;
}

.about-us-img img{
    width: 70%;
}

.about-desc{
    gap: 3vh;
}

.card-deck{
    gap: 1.5vw;
    margin: 4vw;
}

.card-body{
    border-top: 0.5px solid grey;
}

.card-img-top img{
    /* margin-bottom: -3vh; */
    border: 0.5px solid lightgrey;
}

#our-strength{
    padding: 4vh;           
}

#our-strength ul{
    gap: 2vh;
    text-indent: 2vw;
    line-height: 5vh;
    font-size: 1.2em;
}

#our-strength ul li::before {
    content: "\2022";
    color: rgb(11, 166, 218);
    font-weight: bold;
    width: 1em;
    margin-right: 1em;
}

.our-strength_content{
    gap: 4vw;
}

.our-strength_content img{
    height: 70vh;
}

/* footer */

footer {
    background-color: #f5f5f5;
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    padding: 0 3vw 2vw 3vw;
}

footer h5 {
    font-size: 1em;
}

footer p {
    font-size: 0.8em;
}


.footer__contacts {
    display: flex;
    flex-direction: column;
    gap: 1vh;
}

.img-wrapper{
    display: flex;
    flex-flow: column nowrap;
    gap: 3vh;
}

.img-wrapper img{
    width: 2vw;
    height: 80%;
}

.footer__representation,
.footer__main-office,
.footer__switzerland {
    display: flex;
    flex-flow: row nowrap;
    align-items: baseline;
    gap: 2vw;
}